<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7ae761b2-d54e-482d-9e5c-8e8a469941a9/resourceGroups/group1/providers/Microsoft.Web/sites/labramosweb</ResourceId>
    <ResourceGroup>group1</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://labramosweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>65497484-d4d8-4278-bd7b-52aa7c88ef98</ProjectGuid>
    <MSDeployServiceURL>labramosweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>labramosweb</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>aantonio_94@hotmail.com</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net7.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAlWPz0DCp60aqgUUxCYEGyQAAAAACAAAAAAAQZgAAAAEAACAAAAAw5nXsKw69vxsi1NZBuUmM0d6u7tVLIUEhU/8Gp9MY6gAAAAAOgAAAAAIAACAAAACeEZbYTjV5Ls8GhRVDFYd7GbBIjNbs0LGp65coIoNBJiAAAABwAsKF7NcypJKuY/rV2aj6fFZyAxzVl8fxz47Iz/qxU0AAAADzn7bh+E/Mh0P3D6Mdpo4dDHwNHJT1QigfWXwW1mrEvYugyUGU7qEcxGY7Ab+Y4MWALKrhW4k+ljKz6QJXZBpo</EncryptedPassword>
    <History>False|2024-02-21T21:19:11.7049008Z;False|2024-02-21T15:18:12.2464832-06:00;False|2024-02-21T15:17:30.5008413-06:00;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>